body{
    margin-left: 10%;
    margin-right: 10%;
}

#topHeader{
    margin-left: 25%;
    font-size: 26px;
}

header h1{
    margin: 0px;
    display:inline-block;
}

#content{

}

#sectionHeader{

}

#articleHeader{

}